@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #320e3b;
}

canvas
{
    touch-action: none;
}

.lightScreen
{
    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 20px;
    /* background: #bcedf6; */
    /* position: static; */
}

.overlayScreen
{
    width: 1024px;
    height: 500px;
    border: none;
    border-radius: 20px;
}

.wrapper{
    background: #ffffff;
}

@font-face{
    font-family: custom;
    src: url('./assets/schoolbell-v18-latin-regular.woff')
}

.schoolbellFont{
    font-family: custom;
}

.mt-545px{
    margin-top: 545px;
}
